*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffff;
    font-family: 'Hind Vadodara', sans-serif;
    color: #331B3B;
}
main > *{
    margin-left: 3em; 
    margin-right: 3em;
}
.titulo{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 0.01em;
    font-size: 24px;
    line-height: 28px;
}
.mainColorHalf{
    color: rgba(51, 27, 59, 0.66);
}
a, a:link, a:visited{
    color: #331B3B;
    text-decoration: none;
}
a:hover{
    color: rgb(113, 36, 136);
}
img{
    width: 100%;
}
.botonPrincipal{
    height: 66px;
    width: 207px;
    border-color: transparent;
    border-radius: 10px;
    background: #331B3B;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
/* Nav */
.navBar{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
}
.containerLinks{
    display: flex;
    gap: 14px;
}

.containerTitulo{
    margin-right: 80px;
    text-align: center;
}
.containerRedes{
    display: flex;
    gap: 16px;
}

.containerRedes > * {
    cursor: pointer;
}
.containerSec1{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 20px;
}
.containerSec2{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 20px;
}
.colMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
}
.parrafoMain{
    font-family: Hind Vadodara;
    font-size: 75px;
    line-height: 87px;
    letter-spacing: -0.01em;
    text-align: left;
    font-weight: 500;
}
.parrafoMain2{
    font-family: Hind Vadodara;
    font-size: 48px;
    text-align: left;
    font-weight: 500;
}

.containerSec3{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-right: 25px;
    padding-bottom: 30px;
    background: #ECF7FF;
    border-radius: 0px 200px 0px 0px;
    text-align: center;

    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.tarjetasSec3{
    margin-left: 100px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 1rem;
}
.tarjetaSec3{
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
    align-items: start;
    background-color: #ffff;
    border-radius: 0.75em;

    padding-left: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}
.tarjetaSec3  > :nth-child(2){
    font-weight: bold;
}
.tarjetaSec3  > :nth-child(3){
    font-size: 12px;
}
.iconTarjeta{
    height: 48px;
    width: 52px;  
}
.sec4{
    border-radius: 200px 0px 0px 0px;
    background-color: rgb(255, 222, 212, 0.3);
    margin-right: 0px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3em;
    padding-bottom: 3em;
}
.textoSec4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.parrafoMain4{
    width: 30%;
    text-align: left;
}
.tarjetasSec4{
    display: flex;
    justify-content: center;
    column-gap: 2em;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    /* grid-column-gap: 0.3rem; */
}
.tarjetaSec4{
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
    align-items: center;
    background-color: #ffff;
    border-radius: 0.75em;
    width: 400px;

    padding-left: 0.5em;
    padding-top: 1em;
    padding-bottom: 0.3em;
    text-align: left;
}
.imgTarjeta4{
    width: 270px;
    height: 235px;
}
.sec4CardRow{
    align-self: start;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.sec4CardRow >  button{
    height: 23px;
    width: 92px;
    border: 1px #331B3B solid;
    border-radius: 10px;
    background: white;
    color: #331B3B;
    margin-right: 10px;
    cursor: pointer;
}
#sec5{
    margin-top: 3em;
    background-color: #ffff;
    margin-right: 0px;
    margin-left: 0px;
}
/* #sec5 > :nth-child(2){
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
} */
.tituloSec5{
    font-size: 38px;
    text-align: center;
    margin-bottom: 2.3em;
}
.tarj5{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 450px;
    padding: 10px;
}
.imgTarjeta5{
    width: 64px;
    height: 64px;
}
.tarj5  > :nth-child(2){
    font-weight: normal;
    font-size: 15px;
}
.tarj5  > :nth-child(3){
    font-size: 15px;
    font-weight: bold;
}

#sec6{
    background-color: black;
    color: white;
    border-radius: 0px 150px 0px 0px;
    display: flex;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-right: 4.3em;
    padding-left: 0.6em;
    column-gap: 0.5em;

}
.colFoot{
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
    margin-left: 0.7em;
}
.colFoot > p {
    width: 60%;
}
.colFoot > span {
    font-weight: bold;
}
form{
    display: flex;
    column-gap: 1em;
}
form > * {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
form > div > * {
    font-family: 'Poppins', sans-serif;
}
input{
    padding-top: 5px;
    padding-bottom: 5px;
}
.btnEnviar{
    background-color: #FE9A22;
    border-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}
.rowContact{
    display: flex;
}
.rowContact > img{
    width: 30px;
    height: 30px;
}
#enviarSM{
    display: none;
}
@media (max-width: 868px) {
    main > *{
        margin-left: 0px; 
        margin-right: 0px;
    }
    .titulo{
        letter-spacing: 0.01em;
        font-size: 40px;
    }
} 

@media (max-width: 600px) {
    main > *{
        margin-left: 10px; 
        margin-right: 10px;
    }
    header{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .titulo{
        font-size: 14px;
    }
    .navBar{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0px;
    }
    .containerTitulo{
        margin-right: 0px;
        text-align: left;
    }
    .containerRedes > img{
        display: none;
    }
    .containerSec1{
        display: flex;
        flex-direction: column;
        row-gap: 1.5em;
    }
    .colMain{
        row-gap: 1.5em;
    }
    .parrafoMain{
        font-size: 45px;
        line-height: 50px;
    }
    .containerSec2{
        display: flex;
        flex-direction: column-reverse;
    }
    .containerSec3{
        padding-top: 20px;
        border-radius: 0px;
    }
    .tarjetasSec3{
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }
    .tarjetaSec3{
        align-items: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .sec4{
        border-radius: 0px;
        margin-left: 0px;
    }
    .textoSec4{
        flex-direction: column;
        row-gap: 1em;
        align-items: center;
    }
    .parrafoMain4{
        width: 100%;
        text-align: center;
    }
    .tarjetasSec4{
        flex-direction: column;
        row-gap: 1em;
        align-items: center;
    }
    .tarjetaSec4{
        width: 270px;
    }
    #sec6{
        border-radius: 0px;
        flex-direction: column;
        align-items: center;
    }
    .colFoot > span {
        margin-bottom: 1em;

    }
    form{
        flex-direction: column;
    }
    textarea{
        margin-bottom: 7px;
    }
    #enviarLG{
        display: none;
    }
    #enviarSM{
        display: block;
    }
}

